page-login {
    .slide-background{
      border-color: transparent;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  .slide-zoom{
    height: 100%;
    background-color: rgba(32, 32, 32, 0.2) !important;
  }
  ion-slides{
    height: 100vh;;
  }

  .scroll-content{
    margin-top: 0 !important;
    display: flex;
    flex-direction: column;
    overflow: hidden;

  }
  .login-container{
    position:absolute;
    z-index: 2;
    top:0;
    width: 100%;
    margin:0 auto;
    padding: 10vw;
    text-align: center;
    color: #ffff;
  }
  .login-button{
    text-transform: uppercase;

    &.activated{
      background-color: rgba(255, 255,255, .4) !important;
    }
  }
  ion-item{

    padding-left: 10px !important;
    margin-bottom:15px !important;
    color:#fff !important;
    background-color: rgba(255,255,255, .4) !important;
    font-size: 0.9em;
  }
  ::-webkit-input-placeholder{
    color:#fff;
  }
  .strike{
    display: block;
    text-align: center;
    overflow: hidden;
    white-space:nowrap;

  }


  .strike>span{
    position: relative;
    display:inline-block;
    font-weight: bold;
  }

  .strike>span:before,
  .strike>span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 99999px;
    height: 1px;
    background: #ffffff;
  }

  .strike>span:before {
    right: 100%;
    margin-right: 15px;

  .strike>span:after{
    left: 100%;
    margin-left: 15px;
  }
  }
}
